$site_blue_color : #0282f9;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app{
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 0 10rem;

        .logo{
            margin-left: 2rem;

            img{
                height: 75px;
                width: 75px;
            }
        }
    }
    .nav-container{
        padding-top: 1rem;
        
        nav{
            display: flex;
            height: 100%;

            .nav-item{
                height: 100%;

                &:hover{
                    border-bottom: 5px solid $site_blue_color;

                    a{
                        color: $site_blue_color;
                    }
                }             
            }
        }
        
        a{
            padding: 1rem;
            text-decoration: none;
            color: #464652;
            font-size: x-small;
            font-weight: 900;
        }
    }
    .content-container{
        background-color: #1c1c1c;
        color: white;

        .jumbo{
            height: 500px;
            background-image: url(./assets/img/jumbotron.jpg);
            position: relative;

            .current{
                background-color: $site_blue_color;
                height: 40px;
                width: 150px;
                text-align: center;
                line-height: 40px;
                position: absolute;
                bottom:-20px;
                left: 10rem;
            }
        }

        .products-container{
            display: flex;
            flex-wrap: wrap;
            padding: 0 10rem;
            padding-top: 2rem;

            .product-container{
                width: calc(100% / 6);
                margin-bottom: 2rem;

                img{
                    height: 200px;
                    width: 200px;
                    object-fit: cover;
                    padding: 0.25rem;
                    object-position: top;
                }
            }
        }    
    }
    .widgets-container{
        height: 100px;
        background-color: $site_blue_color;
        display: flex;
        padding: 0 10rem;
        align-items: center;
        justify-content: space-between;
        color: white;

        .widget{
            display: flex;
            align-items: center;

            p{
                font-size: x-small;
                font-weight: 900;
                margin-left: 0.5rem;
            }
        }

        img{
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
    .footer-container{

        .footer-main{
            display: flex;
            padding: 0 10rem;
            justify-content: space-between;
            height: 300px;
            background-image: url(./assets/img/footer-bg.jpg);

            .footer-logo{
                width: 30%;
                background-image: url(./assets/img/dc-logo-bg.png);
                background-size: cover;
                background-position-y: center;
            }

            .footer-content{
                display: flex;
                
                h2{
                    color: white;
                    padding: 1rem 0;
                }

                ul{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: #959595;

                        &:hover{
                            color: white;
                        }
                    }
                }

                aside:nth-of-type(2){
                    margin: 0 5rem;
                }
            }
        }
        .sing-up-container{
            padding: 2rem 10rem;
            background-color: #303030;

            button{
                background-color: #303030;
                padding: 1rem;
                color: white;
                text-decoration: none;
                border: 2px solid $site_blue_color;

                &:hover{
                    cursor: pointer;
                }
            }
        }    
    }    
}    